@import url('vars.css');
@import url('main.css');

body,
html {
    font: 18px/1.5 Inter, sans-serif;
}

.background {
    min-width: 100vw;
    min-height: 100vh;
    padding: 10px;
    background-color: var(--background);
}
